/* TODO: Make it awesome */
div{ 
  margin: auto; 
  margin-top: 3%; 
  margin-bottom: 3%; 
  border: 2px; 
  border-color: black; 

}
header{ 
  margin: auto;
}
ol{
  margin: auto; 
}
section{ 
  margin: auto; 
}